<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <div class="card mb-3">
        <h3 class="card-header">Quirky Quotes</h3>
        <div class="card-body">
          <h5 class="card-title">from Professor Rolabi Wizenard</h5>
          <h6 class="card-subtitle text-muted">The nature of all things</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="https://picsum.photos/seed/picsum/200/300" alt="Card image">
        <div class="card-body">
          <p class="card-text">gems from the wizenard series: Training camp (Kobe Bryant and Wesley King)</p>
        </div>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
